<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<header th:fragment="custom-header" class="mb-3">
	<div class="container border">
		<div class="row">
			<div class="col-3 border text-center">
				<h1>Best of :</h1>
			</div>
			<div class="col border ">
				<ul class="h-100 d-flex align-items-center">
					<li class="btn btn-dark mx-3"><a class="nav-link" href="http://localhost:8080/movies">movie-list</a></li>
					<li class="btn btn-dark"><a class="nav-link"href="http://localhost:8080/songs">song-list</a></li>
				</ul>
				
			</div>
		</div>
	</div>
</header>

</body>
</html>