<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragments="html-head">
<meta charset="UTF-8">

<!-- bootstrap-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>

<title>Best of the year</title>
</head>
<body>

<div th:replace="frags/header :: custom-header"></div>

<main>
	<div class="container">
	</div>
</main>


<!-- Bootstrap Bundle with Popper -->
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>