<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragments="html-head">
<meta charset="UTF-8">

<!-- bootstrap-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>

<title>Best of the year</title>
</head>
<body>

<header th:replace="frags/header :: custom-header"></header>

<div class="container text-center">
	 
	<ul class="p-0 d-flex align-items-center flex-column">
	  <li 
	  	class="w-25 list-unstyled text-center" 
	  	th:each="movie : ${movies}">
	  	
	  		<a class="btn btn-dark w-100 p-2 m-1"
	  		   th:href="@{/movies/{id}(id=${movie.getId()})}">
	  		   [[${movie.name}]]
	  		</a>
	  	</li>
	</ul>
	
	 <a class="btn btn-danger" href="http://localhost:8080/">Back Home</a>
</div>
 

</body>
</html>